@import '~bootstrap/scss/bootstrap';
.container {
  background-color:#FFA07A;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 5px;
  padding: 5px;
  margin: 0px auto;
  width: 454px;
  height: 454px;
}

.box {
  background-color:#FA8072;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px
}

.loginform{
  background-color: lightblue;
  text-align: center;
  width:500px;
  height: 500px;
}

.inputform{
  width:60%;
  padding:5px;
  margin:5px;
}

.buttoncontainer{
  display:flex;
  flex-direction: row;
  background-color:#FA8072;
  margin: 10px 495px 10px 495px;
  justify-content: space-around;
  padding: 10px 10px 10px 10px;
}

.startgamebutton{
  background-color:#FA8072;
}

.showgamesbutton{
  background-color:#FA8072;
}

#change-password{
  width:40%;
  padding:5px;
  margin:0px 0px 0px 20px;
}

#sign-out{
  margin:0px 0px 0px 30px ;
}
